on:
  pull_request:
  workflow_dispatch:
  push: { branches: [main]}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Tightlock Containers
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
        run: bash ./run_tightlock.sh --non-interactive
      - name: Check running containers
        run: docker-compose ps -a
      - name: Check API logs
        run: docker-compose logs tightlock-api
      - name: Check Airflow logs
        run: docker-compose logs airflow-init
      - name: Activation unit tests  
        # TODO(b/265930300): Bump --cov-fail-under=90 once more tests are added
        run: docker-compose exec -T airflow-worker pytest -v --cov --cov-fail-under=50
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
  # TODO(b/268734647): Add mypy static tests once all typing errors are gone
  #   run: docker-compose exec -T airflow-worker pytest -v --mypy --cov

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Tightlock Containers
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
        run: bash ./run_tightlock.sh --non-interactive
      - name: Check running containers
        run: docker-compose ps -a
      - name: Check API logs
        run: docker-compose logs tightlock-api
      - name: Check Airflow logs
        run: docker-compose logs airflow-init
      - name: Integration Tests
        run: bash ./run_integration_tests.sh
